.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column-title {
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: var(--main-purple);
}

.footer-column-link {
    margin-bottom: .5rem;
    color: #6e6e6e;
    text-decoration: none;
}

.footer-column-link:hover {
    color: var(--main-purple);
}

@media only screen and (max-width: 600px) {
    .footer-column {
        width: 100%;
    }
}