.footer-column {
    display: flex;
    flex-direction: column;
}
  
.footer-column-title {
    color: var(--main-purple);
    font-weight: bold;
    margin-bottom: 1.5rem;
}
  
.footer-column-link {
    color: #6e6e6e;
    margin-bottom: 0.5rem;
    text-decoration: none;
}
  
.footer-column-link:hover {
    color: var(--main-purple);
}
  
@media only screen and (min-width: 768px) {
    .footer-column {
      height: 100%;
      width: 25%;
    }
}