.footer {
    background-color: var(--background-pink);
    color: var(--main-purple);
    padding: 3rem 15%;
}
  
.footer-contact {
    display: flex;
    flex-direction: column;
}
  
.footer-icon-text-container,
.footer-icon-dual-text-container {
    align-items: center;
    cursor: pointer;
    margin-top: 1rem;
    display: flex;
}

.footer-icon-dual-text-container {
    align-items: flex-start;
}
  
.footer-icon {
    margin-right: 0.25rem;
    width: 25px;
    height: 25px;
}

.footer-logos-container {
    display: flex;
    align-items: center;
    margin-top: .75rem;
}

.footer-logo {
    width: 24px;
}
  
.location,
.footer-icon-text-container > p,
.footer-link {
    color: #6e6e6e;
    text-decoration: none;
}
  
.location:hover,
.footer-icon-text-container:hover > p,
.footer-link:hover {
    color: var(--main-purple);
}
  
@media only screen and (min-width: 768px) {
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 30vh;
      padding: 3rem 15%;
    }
  
    .footer-contact {
      width: 30%;
      height: 100%;
      margin-right: 8rem;
    }
}