.return-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 50px;
    bottom: 50px;
    padding: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid grey;
    background-color: #ffffff;
}

.return-button:hover {
    background-color: #f1f1f1;
}